.blog-Card{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 20px auto;
    padding:10px 20px;
    box-shadow: 0 1px 20px 0 rgba(223, 211, 211, 0.5)
}

.blog-img img{
    margin: 0;
    padding: 0;
    height: 250px;
    width:300px;
}
.blog-author{
    font-style: italic;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.blog-author .authorImg{
    margin-right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.blog-desc{
    font-size:medium;
    font-weight: 600;
    margin:0 20px;
}
.blog-author .date{
    position: absolute;
    right: 20px;
}
